<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg custom-card">
    <div class="card-header justify-content-center">
      <h2 class="mb-0 text-center p-2">{{ 'register.title' | translate }}</h2>
    </div>
    
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="form-grid">
          <div class="mb-3 form-floating">
            <input type="text" class="form-control" id="name" formControlName="name"
                   [class.is-invalid]="formUtils.isValidField(registerForm, 'name')" placeholder="{{ 'register.name.placeholder' | translate }}">
            <label for="name">{{ 'register.name.label' | translate }}</label>
            <div class="invalid-feedback">
              {{ formUtils.getFieldError(registerForm, 'name', 'register') }}
            </div>
          </div>

          <div class="mb-3 form-floating">
            <input type="text" class="form-control" id="paternalSurname" formControlName="paternalSurname"
                   [class.is-invalid]="formUtils.isValidField(registerForm, 'paternalSurname')" placeholder="{{ 'register.lastName.placeholder' | translate }}">
            <label for="paternalSurname">{{ 'register.lastName.label' | translate }}</label>
            <div class="invalid-feedback">
              {{ formUtils.getFieldError(registerForm, 'paternalSurname', 'register') }}
            </div>
          </div>

          <div class="mb-3 form-floating">
            <input type="text" class="form-control" id="maternalSurname" formControlName="maternalSurname"
                   [class.is-invalid]="formUtils.isValidField(registerForm, 'maternalSurname')" placeholder="{{ 'register.secondLastName.placeholder' | translate }}">
            <label for="maternalSurname">{{ 'register.secondLastName.label' | translate }}</label>
            <div class="invalid-feedback">
              {{ formUtils.getFieldError(registerForm, 'maternalSurname', 'register') }}
            </div>
          </div>

          <div class="mb-3 form-floating">
            <input type="email" class="form-control" id="email" formControlName="email"
                   [class.is-invalid]="formUtils.isValidField(registerForm, 'email')" placeholder="{{ 'register.email.placeholder' | translate }}">
            <label for="email">{{ 'register.email.label' | translate }}</label>
            <div class="invalid-feedback">
              {{ formUtils.getFieldError(registerForm, 'email', 'register') }}
            </div>
            @if (registerForm.get('email')?.value?.length! <= 0) {           
              <small class="form-text text-muted mt-1 ms-1">{{ 'register.email.placeholder' | translate }}</small>
            }
          </div>

          <div class="mb-3 form-floating">
            <input type="text" class="form-control" id="charge" formControlName="charge"
                   [class.is-invalid]="formUtils.isValidField(registerForm, 'charge')" placeholder="{{ 'register.position.placeholder' | translate }}">
            <label for="charge">{{ 'register.position.label' | translate }}</label>
            <div class="invalid-feedback">
              {{ formUtils.getFieldError(registerForm, 'charge', 'register') }}
            </div>
          </div>

          <div class="mb-3 form-floating">
            <input type="text" class="form-control" id="companyName" formControlName="companyName"
                   [class.is-invalid]="formUtils.isValidField(registerForm, 'companyName')" placeholder="{{ 'register.company.placeholder' | translate }}">
            <label for="companyName">{{ 'register.company.label' | translate }}</label>
            <div class="invalid-feedback">
              {{ formUtils.getFieldError(registerForm, 'companyName', 'register') }}
            </div>
          </div>

          <div class="mb-3 form-floating">
            <select class="form-select" id="countryCode" formControlName="countryCode"
                    [class.is-invalid]="formUtils.isValidField(registerForm, 'countryCode')">
              <option value="">{{ 'register.country.valueByDefault' | translate }}</option>
              @for (item of countries(); track item.code; let index = $index) {
                <option value="{{item.code}}">
                  {{item.name}}
                </option>
              }
            </select>
            <label for="countryCode">{{ 'register.country.label' | translate }}</label>
            <div class="invalid-feedback">
              {{ formUtils.getFieldError(registerForm, 'countryCode', 'register') }}
            </div>
          </div>

          <div class="mb-3 form-floating">
            <input type="tel" class="form-control" id="phoneNumber" formControlName="phoneNumber"
                   [class.is-invalid]="formUtils.isValidField(registerForm, 'phoneNumber')" placeholder="{{ 'register.phoneNumber.placeholder' | translate }}">
            <label for="phoneNumber">{{ 'register.phoneNumber.label' | translate }}</label>
            <div class="invalid-feedback">
              {{ formUtils.getFieldError(registerForm, 'phoneNumber', 'register') }}
            </div>
            @if (registerForm.get('phoneNumber')?.value?.length! <= 0) {           
              <small class="form-text text-muted mt-1 ms-1">{{ 'register.phoneNumber.placeholder' | translate }}</small>
            }
          </div>

          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="privacyNotice" formControlName="privacyNotice">
            <label for="privacyNotice" class="form-check-label">
             
              <a href="/pdf/AvisoPrivacidad.pdf" target="_blank"> {{ 'register.privacyNotice.label' | translate }}</a>
            </label>
           
            <div class="invalid-feedback">
              {{ formUtils.getFieldError(registerForm, 'privacyNotice', 'register') }}
            </div>
          </div>

        </div>

        <div class="w-full mt-4 p-3">
          <button type="submit" class="w-full btn btn-primary px-5 py-3" >
            {{ 'register.registerButton' | translate }}
          </button>
        </div>
      </form>
      <div class="mt-3 text-center">
        <a href="auth/login" class="text-decoration-outline">{{ 'register.loginHere' | translate }}</a>
      </div>
    </div>
  </div>
</div>