<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg" style="width: 100%; max-width: 400px;">
    <div class="card-body p-4">
      <h2 class="text-center mb-4">{{ 'forgotPassword.title' | translate }}</h2>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="form-floating mb-3">
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form-control"
            [class.is-invalid]="formUtils.isValidField(forgotPasswordForm, 'email')"
            placeholder="{{ 'forgotPassword.email.placeholder' | translate }}"
          />
          <label for="email">{{ 'forgotPassword.email.label' | translate }}</label>
          @if(forgotPasswordForm.get('email')!.invalid && forgotPasswordForm.get('email')!.touched) {
            <div class="invalid-feedback">
              {{ formUtils.getFieldError(forgotPasswordForm, 'email', 'forgotPassword') }}
            </div>
          }
        </div>
        <button type="submit" class="btn btn-primary w-100 mb-2">{{ 'forgotPassword.sendButton' | translate }}</button>
        <div class="text-center">
          <a routerLink="/auth/login" class="text-decoration-none">{{ 'forgotPassword.backToLogin' | translate }}</a>
        </div>
      </form>
    </div>
  </div>
</div>
