:host {
  display: block;
}
.text-success { color: #28a745 !important; }
.text-muted { color: #6c757d !important; }



.btn-link {
  z-index: 5; // Asegura que el botón esté sobre el input
  i.bi {
    vertical-align: middle;
    color: #6c757d;
    &:hover {
      color: #0d6efd;
    }
  }
}

.form-control.pe-5 {
  padding-right: 3rem !important;
}