
<section class="max-w-7xl mx-auto px-4 py-8">
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-xl font-semibold text-gray-900">{{ titulo() }}</h2>
    <a href="#" class="text-sm text-gray-700 flex items-center hover:underline">
      Ver todas
      <img
        src="https://cdn.jsdelivr.net/npm/heroicons@2.0.13/20/solid/arrow-right.svg"
        alt="Arrow right"
        class="h-4 w-4 ml-1"
      />
    </a>
  </div>  <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-6 mb-6">
    <ng-container *ngFor="let store of tiendasTop()">
      <a
        [href]="store.link"
        class="bg-white rounded-xl shadow p-4 flex flex-col items-center"
      >
        <div class="w-full h-32 overflow-hidden rounded-lg">
          <img
            [src]="store.logoUrl"
            [alt]="store.name"
            class="w-full h-full object-contain"
          />
        </div>
      </a>
    </ng-container>
  </div>
  <ng-container *ngIf="tiendaFeatured() as featured">
    <a
      [href]="featured.link"
      class="bg-white rounded-xl shadow p-4 flex items-center h-32"
    >
      <div class="w-full h-full overflow-hidden rounded-lg">
        <img
          [src]="featured.logoUrl"
          [alt]="featured.name"
          class="w-full h-full object-contain"
        />
      </div>
      <!-- <span class="ml-6 text-lg font-semibold text-gray-900">
        {{ featured.name }}
      </span> -->
    </a>
  </ng-container>
</section>

