<app-header />

<div class="w-full max-h-[600px] flex flex-1 bg-[#D8FF00] mb-6 ">
    <img src="/assets/preview2.png" alt="preview" class="w-full object-cover" />
</div>
<app-categories-horizontal-list
  [listadoCategorias]="categorias"
  [titulo]="'Categorías'"
  [numeroElementos]="5"
/>
<app-products-horizontal-list
  [listadoProductos]="products"
  [titulo]="'Ofertas'"
  [mostrar]="true"
  [numeroElementos]="5"
/>

<app-stores-horizontal-list
  [listadoTiendas]="tiendas"
  [titulo]="'Tiendas oficiales'"
/> 


<app-products-horizontal-list
  [listadoProductos]="products"
  [titulo]="'Basados en tu ultima visita'"
  [mostrar]="true"
  [numeroElementos]="5"
/>

<app-footer />
