<div class="sms-validation-container">
  <h2>{{ 'smsCodeValidation.title' | translate }}</h2>
  @if(smsSend()){
    <p class="instructions">
      {{ 'smsCodeValidation.instructionsSent' | translate:{ phoneEnds: phoneNumberEnds() } }}
    </p>
  }@else {
    <p class="instructions">
      {{ 'smsCodeValidation.instructionsNotSent' | translate:{ phoneEnds: phoneNumberEnds() } }}
    </p>
  }

  <form [formGroup]="smsForm" (ngSubmit)="onSubmit()">
    <div class="code-inputs">
      <input *ngFor="let field of codeFields; let i = index" 
             type="text" 
             maxlength="1" 
             [disabled]="!smsSend()"
             [formControlName]="'digit'+i"
             (keyup)="onKeyUp($event, i)"
             (paste)="onPaste($event)"
             class="code-input">
    </div>
    
    <div class="actions">
      @if(smsSend()){
        <button type="submit" [disabled]="smsForm.invalid || isLoading()" class="validate-button">
          @if (!isLoading()) {
            <span>{{ 'smsCodeValidation.validateButton' | translate }}</span>
          } @else {
            <span>{{ 'smsCodeValidation.validatingButton' | translate }}</span>
          }
        </button>
      }@else {
        <button type="button" [disabled]="smsSend() || isLoading()" class="validate-button" (click)="requestCode()">
          <span>{{ 'smsCodeValidation.requestCodeButton' | translate }}</span>
        </button>
      }
     
      @if(smsSend()){
        <button type="button" (click)="requestCode()" [disabled]="isResending() || countdown() > 0" class="resend-button">
          @if (!isResending()) {
            <span>{{ 'smsCodeValidation.resendCodeButton' | translate }}</span>
          } @else {
            <span>{{ 'smsCodeValidation.resendCodeLoading' | translate }}</span>
          }
        </button>

         
        @if (countdown() > 0) {
          <div class="countdown">
            {{ 'smsCodeValidation.countdownMessage' | translate:{ seconds: countdown() } }}
          </div>
        }
      }
      
     
    </div>
  </form>
  
  @if (errorMessage()) {
    <div class="error-message">
      {{errorMessage()}}
    </div>
  }
 
</div>